
    <main>
      <h1>inbox</h1>
      <div class="form">
        <form action='/' method="POST">
          
          <label for="chat">chat</label>
          <textarea id="chat" name="chat"></textarea>
          
          
          
          <input type="submit" value="send">
        </form>
      </div>
    </main>
 