<h1>Log Out Form</h1>
<div class="form">
    <form action='/logOut' method="POST">
        <label for="username">{{aUser.name}}</label>
        
       <span>Time to Return to your Universe
       </span>
        
        <input type="submit" value="LogOut">
    </form>
</div>